services:
  ai_engine:
    container_name: miloco-ai_engine
    image: ${DOCKER_REPO}xiaomi/miloco-ai_engine:latest
    ports:
      - ${AI_ENGINE_PORT:-8001}:${AI_ENGINE_PORT:-8001}
    environment:
      - AI_ENGINE_HOST=${AI_ENGINE_HOST:-0.0.0.0}
      - AI_ENGINE_PORT=${AI_ENGINE_PORT:-8001}
      - AI_ENGINE_LOG_LEVEL=${AI_ENGINE_LOG_LEVEL:-info}
      - TZ=${TZ:-Asia/Shanghai}
    volumes:
      - ./models:/models
      - ./log/ai_engine:/app/.log/ai_engine
    # NOTICE: If you want to use your own configuration files or models path, please mount them here.
    #   - ./config/ai_engine_config.yaml:/app/config/ai_engine_config.yaml
    #   - ./config/prompt_config.yaml:/app/config/prompt_config.yaml

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped
    healthcheck:
      disable: true

  backend:
    container_name: miloco-backend
    image: ${DOCKER_REPO}xiaomi/miloco-backend:latest
    # NOTICE: MUST be host for miot device discovery.
    network_mode: host
    expose:
      - ${BACKEND_PORT:-8000}
      - ${RTSP_PORT:-8003}
    environment:
      - BACKEND_HOST=${BACKEND_HOST:-0.0.0.0}
      - BACKEND_PORT=${BACKEND_PORT:-8000}
      - RTSP_PORT=${RTSP_PORT:-8003}
      - AI_ENGINE_HOST=${AI_ENGINE_HOST:-0.0.0.0}
      - AI_ENGINE_PORT=${AI_ENGINE_PORT:-8001}
      - BACKEND_LOG_LEVEL=${BACKEND_LOG_LEVEL:-info}
      - TZ=${TZ:-Asia/Shanghai}
    volumes:
      - ./data:/app/miloco_server/.temp
      - ./log/backend:/app/miloco_server/.temp/log
    # NOTICE: Mount configuration files, if you want to use your own configuration files, please mount them here.
    #  - ./config/server_config.yaml:/app/config/server_config.yaml
    #  - ./config/prompt_config.yaml:/app/config/prompt_config.yaml
    restart: unless-stopped
    healthcheck:
      disable: true
